### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IDEs ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.claude/
**/bin/
.gitignore

### Minecraft runs ###
run/
!**/src/**/run/
repo/
!**/src/**/repo/
**/src/generated/**/.cache/
neoforge/run/

### OS ###
.DS_Store
Thumbs.db
.gitignore
repomix-output.xml
.ccto/
CLAUDE.md
